@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.15s ease-in-out;
}
@font-face {
  font-family: Campton;
  src: url('./asset/Campton/CamptonMedium.otf');
}
html {
  font-size: 15px;
}
body {
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
